html,
body {
  margin: 0;
  padding: 0;
}

/*  first - for mobile  */

body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: normal;
  color: #7f7f7f;
}

.container {
  max-width: 1220px;
  width: 90%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Changa One', cursive;
  text-transform: uppercase;
}

.main-header {
  width: 100%;
  background-color: #3948ab;
}

.main-header button {
  font-size: 0;
}

.header-logo {
  margin-bottom: 0;
  margin-top: 0;
}

.header-logo {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.header-logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1em auto;
}

.header-overhead {
  display: block;
  width: 100%;
  padding: 0.5em 5%;
  text-align: center;
  background-color: #039be6;
  box-sizing: border-box;
}

.header-search {
  position: relative;
  width: 270px;
  margin: 0 auto;
  padding: 0;
}

.header-search input {
  display: block;
  width: 270px;
  padding: 0.2em;
  font-size: 1.2em;
}

.header-search .header-search-btn {
  position: absolute;
  top: 0;
  right: -15px;
  width: 15%;
  height: 35px;
  background: url("../img/bond_sprite.png") no-repeat -499px 4px;
  border: none;
}

.header-search-btn:hover {
  cursor: pointer;
}

.header-login .header-login-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 0.5em 0;
  padding: 0.4em 0.3em 0.3em 0.3em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.header-login-btn .login-btn-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background: #039be6 url("../img/bond_sprite.png") no-repeat -423px -5px;
}

.header-login-btn:hover {
  color: #3948ab;
}

.header-login-btn:hover .login-btn-icon {
  cursor: pointer;
  background-position: -461px -5px;
}

.header-menu-toggle {
  position: relative;
  display: block;
  width: 90%;
  margin: 0.5em auto;
}

.header-menu-toggle span {
  position: absolute;
  display: block;
  top: 14px;
  left: 47%;
  right: 47%;
  height: 1px;
  background-color: #ffffff;
  font-size: 0;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  content: "";
}

.header-menu-toggle span::before {
  top: -7px;
}

.header-menu-toggle span::after {
  bottom: -7px;
}

.header-menu-toggle button {
  width: 100%;
  min-height: 30px;
  font-size: 1em;
  padding: 0.2em;
  color: #3948ab;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.header-menu-toggle button:hover {
  cursor: pointer;
  border: 1px solid #3948ab;
}

.header-nav {
  display: none;
  width: 70%;
  margin: 0 auto;
}

.header-nav ul {
  display: block;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 0;
}

.header-nav a {
  text-decoration: none;
  color: #ffffff;
}

.header-nav a:hover {
  color: #3948ab;
  padding-left: 1em;
}

.main-slider {
  display: none;
}

.production-services {
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 90%;
  margin: 0 auto;
}

.production-service {
  display: inline-block;
  vertical-align: top;
  width: 270px;
  height: 270px;
  margin: 0;
}

.production-service:nth-child(1) {
  background: url("../img/page1-img1.jpg") no-repeat 0 0;
  background-size: cover;
}

.production-service:nth-child(2) {
  background: url("../img/page1-img2.jpg") no-repeat 0 0;
  background-size: cover;
}

.production-service:nth-child(3) {
  background: url("../img/page1-img3.jpg") no-repeat 0 0;
  background-size: cover;
}

.production-service:nth-child(4) {
  background: url("../img/page1-img4.jpg") no-repeat 0 0;
  background-size: cover;
}

.service-pack {
  float: left;
  width: 270px;
  height: 270px;
  margin: 0;
  padding: 110px 50px;
  text-align: center;
  box-sizing: border-box;
}

.service-pack:hover {
  cursor: pointer;
}

.production-service h2 {
  margin: auto 0;
  color: #ffffff;
}

.service-red {
  background-color: #eb582d;
}

.service-red:hover {
  background-color: rgba(235, 88, 45, 0.7);
}

.service-blue {
  background-color: #6c42b8;
}

.service-blue:hover {
  background-color: rgba(108, 66, 184, 0.7);
}

.service-crimson {
  background-color: #d71a5f;
}

.service-crimson:hover {
  background-color: rgba(205, 26, 95, 0.7);
}

.service-green {
  background-color: #6cbc71;
}

.service-green:hover {
  background-color: rgba(108, 188, 113, 0.7);
}

.production-advantages {
  display: block;
  text-align: left;
  vertical-align: middle;
  width: 90%;
  margin: 0 auto;
}

.production-advantage {
  position: relative;
  display: block;
  padding: 0 1em 1.7em 5.2em;
  color: 7f7f7f;
  box-sizing: border-box;
}

.production-advantage h3 {
  color: #039be6;
}

.advantage-icon {
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 4.2em;
  height: 4.2em;
  background: url("../img/bond_sprite.png") no-repeat -5px -5px;
  background-size: cover;
}

.advantage-icon.innovation-icon {
  background-position: -70px -5px;
}

.advantage-icon.impact-icon {
  background-position: -140px -5px;
}

.advantage-icon.events-icon {
  background-position: -210px -5px;
}

.result-content h3 {
  font-size: 4em;
  line-height: 0.9em;
  margin: 0.2em 0;
}

.result-content a {
  text-decoration: none;
  color: #039be6;
  font-size: 1.3em;
}

.result-content a:hover {
  color: #3948ab;
}

.result-slider {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.result-slider-box {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.result-slider img {
  display: block;
  max-width: 320px;
  height: auto;
}

.result-slide {
  display: inline-block;
  position: relative;
  padding: 2px;
  margin: 0.4em;
}

.slide-pack {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 5%;
  text-align: center;
  box-sizing: border-box;
  background-color: #d6e4d7;
}

.slide-pack h4,
.slide-pack p,
.slide-pack span {
  width: 100%;
}

.slide-pack h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.slide-pack p {
  font-size: 1.5em;
}

.slide-pack span {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 1.5em;
  color: #039be6;
  text-transform: uppercase;
}

.slide-pack-icons {
  display: block;
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.slide-pack-icon {
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  background: url("../img/soc_sprite.png") no-repeat 0 0;
}

.slide-pack-icon.pack-icon-in {
  background-position: -48px 0;
}

.slide-pack-icon.pack-icon-post {
  background-position: -48px -49px;
}

.slide-pack-icon.pack-icon-in:hover {
  background-position: 0px 0;
}

.slide-pack-icon.pack-icon-post:hover {
  background-position: 0px -49px;
}

.result-slide:hover .slide-pack {
  display:block;
}

.contats-greeting-left {
  float: left;
  margin-top: 1em;
  width: 100%;
  background-color: #3948ab;
}

.greeting-left-centering {
  width: 95%;
  margin-left: 5%;
  padding: 2.5em 0 2em 0;
  font-size: 1em;
  background: url("../img/w-calling.png") no-repeat 100% 0;
  background-size: contain;
}

.greeting-left-centering h3,
.greeting-left-centering a {
  margin: 0;
  font-family: 'Changa One', cursive;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 2em;
  line-height: 0.8em;
}

.greeting-left-centering h4 {
  margin: 0;
  color: #ffffff;
  margin-bottom: 0.8em;
}

.greeting-left-centering p {
  font-size: 0.8em;
  color: #ffffff;
  margin: 0.2em 0;
}

.greeting-left-centering span {
  font-size: 0.7em;
}

.contats-greeting-right {
  float: left;
  width: 100%;
  background-color: #039be6;
}

.greeting-right-centering {
  width: 95%;
  margin-left: 5%;
  padding: 0.5em 0;
  font-size: 1em;
}

.contats-greeting-right h3 {
  margin: 0;
  font-size: 5.5em;
  color: #ffffff;
}

.contats-greeting-right h4 {
  margin: 0;
  font-size: 3em;
  line-height: 0.5em;
  color: #ffffff;
}

.contats-greeting-right h5 {
  margin: 0.5em 0;
  font-size: 2.5em;
  line-height: 0.8em;
  color: #ffffff;
}

.contats-greeting-right a {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-social {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
  margin: 1em 0;
}

.contact-social h4 {
  font-size: 2.5em;
  margin: 0.7em auto;
}

.social-newletter p {
  text-align: left;
  width: 80%;
  text-transform: uppercase;
}

.social-newletter form {
  width: 100%;
}

.form-newsletter input {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
  box-sizing: border-box;
  border: 1px solid #e5edf2;
}

.form-newsletter input:focus {
  outline: 1px solid #e5edf2;
  box-shadow: 0 0 5px 2px #e5edf2;
}

.form-newsletter .btn-submit-subscribe {
  float: right;
  width: auto;
  margin: 0;
  padding: 0;
  font-family: 'Changa One', cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #039be6;
  background-color: #ffffff;
  border: none;
}

.form-newsletter .btn-submit-subscribe:hover {
  cursor: pointer;
  color: #000000;
}

.main-footer {
  width: 100%;
  min-height: 220px;
  margin-top: 1em;
  padding: 2em 0 0 0;
  background-color: #eceff1;
  box-sizing: border-box;
}

.main-footer a {
  display: block;
  margin: 0 0 1em 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: #7f7f7f;
}

.footer-logo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.footer-logo p {
  width: 70%;
  margin: 0.2em 0;
}

.footer-logo .footer-copyright {
  margin: 0.2em;
  padding: 0;
  text-transform: uppercase;
}

.main-footer .footer-map {
  display: block;
  width: 100%;
  min-height: 100px;
  margin: 0;
  padding: 0;
  background: url("../img/map.png") no-repeat center 0;
  background-size: cover;
}


.arrow-up {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  bottom: 50px;
  right: 30px;
  border: 1px solid #7f7f7f;
}

.arrow-up span {
  font-size: 0;
}

.arrow-up span::before,
.arrow-up span::after {
  position: absolute;
  display: block;
  top: 20px;
  width: 25px;
  height: 2px;
  background-color: #7f7f7f;
  content: "";
}

.arrow-up span::before {
  left: 3px;
  transform: rotate(-45deg);
}

.arrow-up span::after {
  right: 3px;
  transform: rotate(45deg);
}

.arrow-up:hover {
  cursor: pointer;
}

.arrow-up:hover span::before,
.arrow-up:hover span::after {
  background-color: #3948ab;
}

/*  For mobile(landscape)   */

@media screen and (min-width: 605px) {
  .production-service {
    float: left;
    width: 50%;
    height: 300px;
  }

  .service-pack {
    width: 100%;
    height: 300px;
    padding: 40% 20% 0 20%;
  }
}

/*  Second - For Tablet 768px   */

@media screen and (min-width: 768px) {
  .main-header {
    min-height: 140px;
  }

  .header-logo {
    width: 50%;
  }

  .header-overhead {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }

  .header-menu-toggle {
    position: relative;
    display: block;
    width: 90%;
    margin: 0.5em auto;
  }

  .header-menu-toggle span {
    left: 48%;
    right: 48%;
  }

  .header-nav {
    width: 90%;
  }

/* */

  .production-service {
    height: 350px;
  }

  .service-pack {
    height: 350px;
  }

  .result-slider {
    max-width: 640px;
  }
}

/*   Third - For Tablet 1024px   */

@media screen and (min-width: 1024px) {
  .header-overhead {
    text-align: left;
    width: 54.5%;
    z-index: 1000;
  }

  .header-search,
  .header-login {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
  }

  .header-search {
    margin: 1em 1.5em 1em 0;
  }

  .header-menu-toggle {
    display: none;
  }

  .header-nav {
    display: block;
    margin-left: 0;
  }

  .header-nav li {
    margin: 0.5em 0;
  }

  .main-slider {
    position: relative;
    display: block;
    width: 100%;
    z-index: 500;
  }

  .main-slider p {
    position: absolute;
    width: 40%;
    bottom: 10%;
    left: 50%;
    font-family: 'Changa One', cursive;
    text-transform: uppercase;
    font-size: 3em;
    color: #ffffff;
  }

  .main-slide:nth-child(1) {
    display: block;
  }

  .main-slide:nth-child(2) {
    display: none;
  }

  .main-slide:nth-child(3) {
    display: none;
  }

  .main-slider img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .main-production {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .production-services {
    display: inline-block;
    vertical-align: top;
    width: 45.7%;
    margin: 0;
    padding: 0;
  }
  .production-service {
    width: 50%;
    height: 270px;
  }

  .service-pack {
    height: 270px;
    padding: 100px 70px 0 70px;
  }

  .production-advantages {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 2% 0 0 4.5%;
    padding: 0;
  }

  .main-result {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .contats-greeting-left,
  .contats-greeting-right {
    width: 50%;
    margin-top: 1em;
  }

  .contats-greeting-left {
    float: left;
  }

  .greeting-left-centering p:last-child {
    margin-bottom: 3.4em;
  }

  .contats-greeting-right {
    float: right;
  }

  .contact-social {
    width: 34%;
  }

  .contact-social:last-child {
    width: 30%;
  }

  .footer-logo-box {
    margin-top: 2.5em;
    margin-bottom: 4em;
  }

  .main-footer .footer-map {
    min-height: 200px;
  }

}

/*  Fourth - for PC 1360px  */

  @media screen and (min-width: 1360px) {
    .container {
      width: 95%;
      max-width: 1292px;
    }
    .main-header {
      padding-top: 2%;
    }

    .header-overhead {
      padding-top: 2%;
    }

    .production-service,
    .service-pack {
      height: 300px;
    }

    .production-advantages p {
      width: 100%;
      max-width: 550px;
    }

    .main-result {
      margin-top: 3em;
    }

    .result-content,
    .result-slider{
      float: left;
      width: 45%;
    }

    .result-slider {
      float: right;
      width: 635px;
    }

    .greeting-left-centering,
    .greeting-right-centering {
      float: right;
      max-width: 646px;
    }

    .greeting-right-centering {
      margin-left: 6em;
      float: left;
    }

    .main-footer .footer-map {
      min-height: 310px;
    }
}

/*  Fift - for HD 1920px  */

  @media screen and (min-width: 1920px) {
    .production-service,
    .service-pack {
      height: 430px;
    }

    .service-pack {
      padding: 40% 150px 0 150px;
    }

    .main-result {
      margin-top: 5em;
      margin-bottom: 2em;
    }
}
